@import "/node_modules/normalize.css/normalize.css";
@import "../common/local.reset.scss";

html, body {
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  height: 100%;

  flex-direction: row;
}

.page-body {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 2em;

  section {
    display: flex;
    height: 20em;

    border-bottom: 1px solid black;
  }
}
