@import "/node_modules/normalize.css/normalize.css";
@import "../common/local.reset.scss";

html, body {
  height: 100%;
  margin: 0;
}

.page {
  display: flex;
  height: 100%;

  flex-direction: row;
}

.page-body {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;

  padding: 2em;
}
