.projects-container {
    background-color: #B78B50;

    height: calc(100% - 2em);
    width: 100%;

    padding-top: 1em;
    padding-bottom: 1em;

    .projects {
        width: 30%;
        min-width: 550px;

        margin-left: auto;
        margin-right: auto;

        text-align: center;
    }
}