.resume-container {
    width: 70%;
    height: 100%;

    padding-left: 15%;
    padding-right: 15%;

    background-color: #93A6B1;

    .resume {
        // Define a width range
        width: 40%;
        max-width: 17in;
        min-width: 10in;

        border: 10px solid rgba(0, 0, 0, 0);
        
        // Centre
        margin-left: auto;
        margin-right: auto;

        h1 {
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 16pt;

            color: #222222;
        }

        h2 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: bold;
            font-size: 13pt;

            color: #222222;
        }

        p {
            font-family: 'Times New Roman', Times, serif;
            font-size: 12pt;

            text-align: justify;
            color: #333333;

            b {
                color: #222222;
            }
        }
    }
}