.page-header {
    h1 {
        margin-bottom: 0px;
    }
    
    &.centered {
        margin-left: auto;
        margin-right: auto;
    }
    &.top {
        display: inline-block;
        margin-right: auto;
        margin-left: 0px;
    }
}