.page-header {
    padding-bottom: 10px;
    
    &.centered {
        margin-left: auto;
        margin-right: auto;
    }
    &.top {
        display: inline-block;
        margin-right: auto;
        margin-left: 0px;
    }
}