.collapsable-section {
    .heading {
        width: 100%;

        cursor: pointer;
        text-align: center;
        border-bottom: 1px solid grey; // An underline extending the entire length
    }
    p {
        white-space: pre-line;
    }
}